@import url('reset.css');
/* General Demo Style */
body{
    background:#f9f9f9 url(../images/white_texture.jpg) repeat top left;
	color: #333;
	font-family: 'Oswald', Arial, sans-serif;
	font-size: 13px;
}
.container{
	position:relative;
}
a{
	color: #fff;
	text-decoration: none;
}
.clr{
	clear: both;
}
.presentation{
	position:relative;
    width:680px;
    margin: 0 auto;
}
